$background: #F4F7FE;
$text-color: #212121;
$text-color-secondary: #6B7280;
$table-border: #C4C4C4;

$primary-color: #007DF0;
$secondary-color: #F04F47;

$level-load-l: #59C6A5;
$level-load-m: #FF782D;
$level-load-h: #FF5252;

$error-color: #d33131;