@use 'shared/assets/styles' as vars;

.progressContainer {
  position: relative;
  height: 24px;
  max-width: 108px;
  margin: 0 auto;
  border: 1px solid vars.$table-border;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background: vars.$level-load-l;
  transition: width 0.3s ease;
}

.progressText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 600;
}