@use 'shared/assets/styles' as vars;

.progressContainer {
  position: relative;
  height: 24px;
  max-width: 110px;
  margin: 0 auto;
  border: 1px solid vars.$table-border;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  z-index: 0;
  transition: width 0.3s ease;

  &.levelLow {
    background: vars.$level-load-l;
  }

  &.levelMedium {
    background: vars.$level-load-m;
  }

  &.levelHigh {
    background: vars.$level-load-h;
  }
}

.progressText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 600;
  color: vars.$text-color;
  z-index: 1;
}